@app.route("/login", methods=["POST"])
def login_user():
    email = request.form['email']
    password = request.form['password']
    role = request.form['role']

    conn = sqlite3.connect('database.db')
    cur = conn.cursor()

    cur.execute("SELECT * FROM users WHERE email=? AND password=? AND role=?",
                (email, password, role))
    user = cur.fetchone()
    conn.close()

    if user:
        if role == "admin":
            return redirect("/admin_dashboard")
        elif role == "vendor":
            return redirect("/vendor_dashboard")
        else:
            return redirect("/user_dashboard")
    else:
        return "Invalid Email or Password"
